<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thông tin hoá đơn </title>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
		rel="stylesheet">
</head>
<body>
	<div class="content">
		 <h4> Thông tin hoá đơn <span th:text="'#' + ${order.maHD}"></span></h4>
			<form th:action="@{/admin/management/orders/edit/{maHD}}" method="post">
					<label class="form-label">Mã hóa đơn</label>
					<input  th:field="${order.maHD}"  type="text"  class="form-control" readonly> 
			
			
					<label  class="form-label">Mã nhân viên</label>
					<input   th:field="${order.nhanVien}"  type="text" 
						class="form-control" readonly >
						
					<label  class="form-label">Mã khuyến mãi</label>
					<input  th:field="${order.khuyenMai}" type="text" 
						class="form-control" >

					<label  class="form-label">Ngày lập</label>
				<input  th:field="${order.ngayLap}"  class="form-control" readonly >
					
					<label  class="form-label">Trạng thái</label>
						    <select name="trangThai" th:name="'trangThai_' + ${order.maHD}" >
						        <option value="DaThanhToan" th:selected="${order.trangThai == 'DaThanhToan'}">Đã thanh toán</option>
						        <option value="DangVanChuyen" th:selected="${order.trangThai == 'DangVanChuyen'}">Đang vận chuyển</option>
						        <option value="DaNhanHang" th:selected="${order.trangThai == 'DaNhanHang'}">Đã nhận hàng</option>
						        <option value="DaHuy" th:selected="${order.trangThai == 'DaHuy'}">Đã hủy</option>
						        <option value="Doi-Tra_Hang" th:selected="${order.trangThai == 'Doi-Tra_Hang'}">Đổi/Trả hàng</option>
						    </select>
					
			
			</form>
			
			 <h5 class="mt-4">Sản phẩm đã đặt</h5>
            <div class="table-responsive">
                <table class="table table-striped table-bordered align-middle">
                    <thead class="table-light">
                    <tr class="text-center">
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá bán</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="detail : ${orderDetails}">
                        <td th:text="${detail.chiTietSanPham.sanPham.maSP}" class="text-center"></td>
                        <td th:text="${detail.chiTietSanPham.sanPham.tenSP}"></td>
                        <td th:text="${#numbers.formatDecimal(detail.giaXuat, 0, 'COMMA', 2, 'POINT') + ' ₫'}" class="text-end"></td>
                        <td th:text="${detail.soLuongXuat}" class="text-center"></td>
                        <td th:text="${#numbers.formatDecimal(detail.thanhTien, 0, 'COMMA', 2, 'POINT') + ' ₫'}" class="text-end"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
			
		<button type="submit" class="btn btn-success">Lưu</button>
			
	</div>
</body>
</html>

