<!-- header.html -->
<th:block th:fragment="header">
    <!-- start header -->
    <header class="header-with-topbar sticky-header">
        <!-- start header top bar -->
        <div class="header-top-bar top-bar-light bg-base-color disable-fixed md-border-bottom border-color-transparent-dark-very-light">
            <div class="container-fluid">
                <div class="row h-40px align-items-center m-0">
                    <div class="col-12 justify-content-center alt-font fs-13 fw-500 text-uppercase">
                        <div class="text-dark-gray">Enjoy FREE standard delivery on orders over $100.</div>
                        <a href="#" class="text-dark-gray fw-600 ms-5px text-dark-gray-hover"><span class="text-decoration-line-bottom">Shop now</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header top bar -->
        <!-- start navigation -->
        <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed center-logo fixed-navbar">
            <div class="container-fluid">
                <div class="col-auto col-xxl-3 col-lg-2 menu-logo">  
                    <div class="header-icon d-none d-lg-flex"> 
                        <div class="widget-text icon alt-font">
                            <a href="/contact"><i class="feather icon-feather-map-pin d-inline-block me-5px"></i><span class="d-none d-xxl-inline-block">Find stores</span></a>
                        </div>
                        <div class="widget-text icon alt-font">
                            <a href="https://www.instagram.com/" target="_blank"><i class="feather icon-feather-instagram d-inline-block me-5px"></i><span class="d-none d-xxl-inline-block">100k Followers</span></a>
                        </div>
                    </div> 
                    <a class="navbar-brand" href="/">
                        <img src="/images/icon.png" data-at2x="/images/icon.png" alt="" class="default-logo" style="vertical-align: middle;">
                        <span class="text" style="vertical-align: middle; font-weight: bold; font-size: 22px; color: #222;">StyleTech</span>
                    </a>   
                </div>
                <div class="col-auto col-xxl-6 col-lg-8 menu-order">
                    <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav"> 
                        <ul class="navbar-nav alt-font navbar-left justify-content-end">
                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a href="/shop" class="nav-link">Shop</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink1"> 
                                    <div class="d-lg-flex mega-menu m-auto flex-column">
                                        <!-- <div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-3 mb-50px md-mb-25px xs-mb-15px">
                                            <div class="col">
                                                <ul>  
                                                    <li class="sub-title">Men</li>
                                                    <li><a href="#">Jeans</a></li>
                                                    <li><a href="#">Trousers</a></li>
                                                    <li><a href="#">Swimwear</a></li>
                                                    <li><a href="#">Casual shirts</a></li>
                                                    <li><a href="#">Rain jackets</a></li>
                                                    <li><a href="#">Loungewear</a></li> 
                                                </ul>
                                            </div> 
                                            <div class="col">
                                                <ul>  
                                                    <li class="sub-title">Women</li>
                                                    <li><a href="#">Dupattas</a></li>
                                                    <li><a href="#">Leggings</a></li>
                                                    <li><a href="#">Ethnic wear</a></li>
                                                    <li><a href="#">Kurtas & suits</a></li>
                                                    <li><a href="#">Western wear</a></li>
                                                    <li><a href="#">Dress materials</a></li> 
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>  
                                                    <li class="sub-title">Kids</li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Jumpsuits</a></li>
                                                    <li><a href="#">Track pants</a></li>
                                                    <li><a href="#">Ethnic wear</a></li>
                                                    <li><a href="#">Value packs</a></li>
                                                    <li><a href="#">Loungewear</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>  
                                                    <li class="sub-title">Divided</li>
                                                    <li><a href="#">Tops</a></li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Shorts</a></li>
                                                    <li><a href="#">Swimwear</a></li>
                                                    <li><a href="#">Jeans</a></li>
                                                    <li><a href="#">Jackets</a></li> 
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>  
                                                    <li class="sub-title">Accessories</li>
                                                    <li><a href="#">Shoes</a></li>
                                                    <li><a href="#">Scarves</a></li>
                                                    <li><a href="#">Watches</a></li>
                                                    <li><a href="#">Wristwear</a></li>
                                                    <li><a href="#">Backpacks</a></li>
                                                    <li><a href="#">Sunglasses</a></li> 
                                                </ul>
                                            </div>
                                        </div> -->
                                        <div class="header-banner-zone">
                                            <div class="row row-cols-1 row-cols-sm-2">
                                                <div class="col">
                                                    <a href="/shop"><img src="/images/banner_shop_01.png" width="490" height="110" alt="" class="banner-custom"></a>
                                                </div>
                                                <div class="col">
                                                    <a href="/shop"><img src="/images/banner_shop_02.png" width="490" height="110" alt="" class="banner-custom"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </li> 
                            <li class="nav-item">
                                <a href="/magazine" class="nav-link">Magazine</a>
                            </li>
                            <!-- <li class="nav-item dropdown submenu">
                                <a href="/collection" class="nav-link">Collection</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink2"> 
                                    <div class="d-lg-flex mega-menu m-auto flex-column"> 
                                        <div class="row row-cols-2 row-cols-lg-6 row-cols-md-3 row-cols-sm-2 md-mx-0 align-items-center justify-content-center">
                                            <div class="col md-mb-25px">
                                                <a href="/collection" class="justify-content-center mb-10px"> 
                                                    <img src="https://via.placeholder.com/190x140" class="border-radius-4px w-100" alt="">  
                                                </a>
                                                <a href="/collection" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span> 
                                                        <span class="btn-text text-dark-gray fs-17">Polo t-shirts</span> 
                                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div> 
                                            <div class="col md-mb-25px">
                                                <a href="/collection" class="justify-content-center mb-10px"> 
                                                    <img src="https://via.placeholder.com/190x140" class="border-radius-4px w-100" alt="">  
                                                </a>
                                                <a href="/collection" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span> 
                                                        <span class="btn-text text-dark-gray fs-17">Sunglasses</span> 
                                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col md-mb-25px">
                                                <a href="/collection" class="justify-content-center mb-10px"> 
                                                    <img src="https://via.placeholder.com/190x140" class="border-radius-4px w-100" alt="">  
                                                </a>
                                                <a href="/collection" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span> 
                                                        <span class="btn-text text-dark-gray fs-17">Skinny blazer</span> 
                                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a> 
                                            </div>
                                            <div class="col sm-mb-25px">
                                                <a href="/collection" class="justify-content-center mb-10px"> 
                                                    <img src="https://via.placeholder.com/190x140" class="border-radius-4px w-100" alt="">  
                                                </a>
                                                <a href="/collection" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span> 
                                                        <span class="btn-text text-dark-gray fs-17">Casual shoes</span> 
                                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a> 
                                            </div>
                                            <div class="col">
                                                <a href="/collection" class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140" class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="/collection" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Winter jackets</span>
                                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="/collection" class="justify-content-center mb-10px"> 
                                                    <img src="https://via.placeholder.com/190x140" class="border-radius-4px w-100" alt="">  
                                                </a>
                                                <a href="/collection" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Men's shorts</span>
                                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                        <ul class="navbar-nav alt-font navbar-right justify-content-start"> 
                            <li class="nav-item dropdown simple-dropdown">
                                <a href="javascript:void(0);" class="nav-link">Pages</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3"> 
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/faq">Faq</a></li>
                                    <li><a href="/user/wishlist">Wishlist</a></li>
                                    <li><a href="/login">Account</a></li>
                                    <li><a href="/order/checkout">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="/contact" class="nav-link">Contact</a>
                            </li>
                            <li class="nav-item position-relative" th:if="${session.userRole == 'CUSTOMER'}">
                                <a href="/cart" class="nav-link position-relative">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span id="cart-count-badge"
                                          class="badge bg-danger rounded-circle position-absolute"
                                          style="top: 2px; right: 2px; font-size: 0.6rem; min-width: 16px; height: 16px; line-height: 16px; padding: 0; display: none; text-align: center;">
            0
        </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div> 
                <div class="col-auto col-xxl-3 col-lg-2 text-end">
                    <div class="header-icon">
                        <!-- User authentication status -->
                        <div class="header-user-icon icon alt-font me-3">
                            <div th:if="${session.user != null}">
                                <!-- User is logged in -->
                                <div class="dropdown">
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-bs-toggle="dropdown">
                                        <i class="feather icon-feather-user me-5px"></i>
                                        <span class="d-none d-xxl-inline-block">
                                            <span th:if="${session.userRole == 'CUSTOMER'}" th:text="${session.user.tenKH}">Tên khách hàng</span>
                                            <span th:if="${session.userRole != 'CUSTOMER'}" th:text="${session.user.tenNV}">Tên nhân viên</span>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu" style="transform: translateX(-20px); margin-top: 10px;">
                                        <li style="padding: 9px;" th:if="${session.userRole == 'ADMIN'}"><a href="/admin" class="dropdown-item">Doanh thu</a></li>
                                        <li style="padding: 9px;" th:if="${session.userRole == 'ADMIN' || session.userRole == 'EMPLOYEE'}"><a href="/admin" class="dropdown-item">Quản Lý</a></li>
                                        <li style="padding: 9px;" th:if="${session.userRole == 'ADMIN' || session.userRole == 'EMPLOYEE'}"><hr class="dropdown-divider"></li>
                                        <li style="padding: 9px;"><a href="/user/profile" class="dropdown-item">My Profile</a></li>
                                        <li style="padding: 9px;" th:if="${session.userRole == 'CUSTOMER'}"><a href="/cart" class="dropdown-item">Cart</a></li>
                                        <!-- <li style="padding: 9px;"><a href="/user/orders" class="dropdown-item">My Orders</a></li>
                                        <li style="padding: 9px;"><a href="/user/wishlist" class="dropdown-item">Wishlist</a></li> -->
                                        <li><hr class="dropdown-divider"></li>
                                        <li style="padding: 9px;"><a href="/logout" class="dropdown-item">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div th:if="${session.user == null}">
                                <!-- User is not logged in -->
                                <a href="/login">
                                    <i class="feather icon-feather-user me-5px"></i>
                                    <span class="d-none d-xxl-inline-block">Login</span>
                                </a>
                            </div>
                        </div>
                        
                        <div class="header-search-icon icon alt-font">
                            <a href="javascript:void(0)" class="search-form-icon header-search-form"><i class="feather icon-feather-search me-5px"></i><span class="d-none d-xxl-inline-block">Search</span></a>
                            <div class="search-form-wrapper">
                                <button title="Close" type="button" class="search-close alt-font">×</button>
                                <form id="search-form" role="search" method="get" class="search-form text-left" action="/shop">
                                    <div class="search-form-box">
                                        <h2 class="text-dark-gray text-center mb-4 fw-600 alt-font ls-minus-1px">What are you looking for?</h2>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navigation -->
         <div class="mb-5">
         </div>
    </header>
    <!-- end header -->
    <!-- Toast Notification (SweetAlert2) -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/main.js"></script>
    <!-- Firebase App (core) -->
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js"></script>
    <!-- Firebase Database -->
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-database.js"></script>
    <!-- Nếu dùng Firebase v9+, thì code cần viết theo kiểu modular -->

    <script th:inline="javascript" th:if="${success != null}">
        showToast('[[${success}]]', "success");
    </script>
    <script th:inline="javascript" th:if="${error != null}">
        showToast('[[${error}]]', "error");
    </script>
    <script th:inline="javascript" th:if="${message != null}">
        showToast('[[${message}]]', "info");
    </script>
</th:block> 