header.sticky .navbar-brand, header .navbar-brand {
    padding : 0;
}

header .navbar-brand img {
    max-height : 80px;
}


.page-title-extra-large h2 {
    font-size: 30px;
    line-height: 40px;
}

@media (max-width: 1600px) {
    footer {
        padding-top: 0;
        padding-bottom: 90px;
    }
}

.bg-very-light-gray {
    background-color: rgba(184, 95, 84, 0.05);
}
@media (max-width: 991px) {
    [data-mobile-nav-style=modern] .navbar-show-modern-bg {
        background: linear-gradient(to right top, rgba(61, 5, 4, 0.71), #be9290, #e78e8c);
    }
}

body {
    font-family: var(--alt-font), serif;
}

.dark-color {
    color: black !important;
}

@media (max-width: 991px) {
    .dark-color {
        color: white !important;
    }
}

.border-bottom-custom {
    position: relative;
    width: max-content;
    text-align: center;
    white-space: nowrap;

    @media (max-width: 576px) {
        width: 80%;
        white-space: wrap;
    }
}

.border-bottom-custom:before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 60%;
    height: 4px;
    background-color: var(--base-color);
    transform: translateX(-50%);
}

.bg-footer {
    background-color: #c872680d;
}

.hover-establish:hover .box-overlay{
    background-color: var(--base-color) !important;
}

img.mfp-img {
    padding: 0;
    background-color: white;
    height: calc(100vh - 80px) !important;

}

@media (max-width: 991px) {
    img.mfp-img {
        max-height: max-content !important;
    }
}

.mfp-ready {
    height: 100vh !important;
    position: fixed !important;
    top: 0 !important;
}

.mfp-figure {
    padding: 40px 0;
}